* {
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
}

* h1,
h2,
h3 {
  color: #002f57;
}

.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  padding-bottom: 30px;
}

.private-main {
  display: flex;
  height: 100vh;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .private-main {
    flex-direction: column;
    align-items: center;
  }

  nav {
    width: 100%;
  }
}

.error,
.invite-confirmation {
  border: 1px solid #d6a319;
  background-color: #d6a319;
  padding: 5px;
  margin-bottom: 5px;
  color: white;
  border-radius: 10px;
}

/* Nav Bar - Public Route / Landing Page */

.nav-home {
  background-color: #e6f4f1;
  padding: 15px;
  font-size: 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav h1 {
  font-size: 35px;
  color: #002f57;
}

.nav-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
}

.nav-links a {
  margin: 10px;
  font-size: 25px;
}

.nav-links a:hover {
  color: #d6a319;
}

nav h1,
nav a {
  text-decoration: none;
}

nav a:hover {
  color: white;
}

nav a:visited {
  color: #002f57;
}

.nav-ul button {
  border: none;
  background-color: #e6f4f1;
  color: #002f57;
  font-size: 25px;
  cursor: pointer;
}

.nav-ul button:hover {
  color: #d6a319;
}

.nav-ul li h3 button {
  padding: 0;
}

/* Hamburger Menu - Public Path */

.bars {
  width: 35px;
  height: 5px;
  background-color: #002f57;
  margin: 6px 0;
}

.hamburger {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  display: none;
}
.hamburger:focus {
  outline: none;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .nav-links ul {
    display: none;
    width: 100%;
    flex-direction: column;
  }

  .nav-links ul.show {
    display: flex;
    flex-wrap: wrap;
  }

  .hamburger {
    display: block;
  }
}

/* Dashboard Nav / Logged In */

.dashboard-menu {
  height: 100vh;
  width: 160px;
  background-color: #e6f4f1;
  padding-top: 20px;
}

.dashboard-menu h2 {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}

.dashboard-menu ul {
  list-style-type: none;
  padding: 0;
  text-align: left;
  padding-left: 5px;
}

.dashboard-menu a:visited {
  color: #002f57;
}

.dashboard-menu a:hover,
.dashboard-menu button:hover {
  color: #d6a319;
}

.dashboard-menu button {
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .dashboard-menu {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  /* Dashboard hamburger menu */

  .dashboard-menu ul {
    display: none;
    width: 100%;
  }

  .dashboard-menu ul.show {
    display: flex;

    align-items: center;
    flex-direction: column;
  }
}

/* About page */

.about-section {
  color: #002f57;
  display: flex;
  flex-direction: column;
}

.about-section h1 {
  font-size: 50px;
}

.about-section p {
  width: 25%;
  margin: 0 auto;
  text-align: left;
  padding: 15px;
}

.about-section h3 {
  padding-top: 15px;
}

.about-ol {
  margin: 0 auto;
  width: 25%;
}

.about-ol li {
  text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .about-section p {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 15px;
  }

  .about-section h1 {
    font-size: 25px;
  }

  .about-ol {
    margin: 0 auto;
    width: 60%;
  }
}

/* Header / Landing Page */

header {
  display: flex;
  justify-content: center;
  margin: 100px auto;
  flex-direction: row;
  max-width: 1200px;
}

.hero {
  margin: 15px 2.5%;
  padding: 100px;
  flex-basis: 40%;
  box-sizing: border-box;
}

.login-cred {
  text-align: left;
}

.login-cred ul li {
  color: #002f57;
}

.hero-cal {
  font-size: 240px;
  color: #007ab6;
  opacity: 0.8;
}

.hero h2 {
  font-size: 50px;
  color: #002f57;
}

.hero p {
  color: #002f57;
}

.hero button,
.cta-button {
  font-size: 20px;
  padding: 20px;
  margin: 20px;
  border: none;
  background-color: #d6a319;
  border-radius: 20px;
}

.hero button a,
.cta-button a {
  color: white;
  text-decoration: none;
}

.hero-img {
  background-color: none;
}

/* Features / Landing Page */

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: #e6f4f1;
  padding: 150px;
}

.features p {
  width: 100%;
}

.feature-1,
.feature-2,
.feature-3 {
  padding: 5%;
  width: 25%;
  color: #002f57;
}

.feature-icon {
  font-size: 130px;
  margin: 10px;
  color: #007ab6;
  opacity: 0.8;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  header {
    flex-direction: column;
    margin: 35px auto;
  }

  .hero {
    padding: 35px;
    margin: 0px;
  }

  .hero.cal-icon {
    padding: 0;
  }

  .hero h2 {
    font-size: 25px;
  }

  .hero-cal {
    display: none;
  }

  .hero button {
    font-size: 15px;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
  }

  .features {
    padding: 25px;
    flex-direction: column;
  }

  .feature-1,
  .feature-2,
  .feature-3 {
    padding: 10%;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .feature-icon {
    font-size: 70px;
  }
}

/* WhyBookly / Landing Page*/

.why-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  color: #002f57;
}

.why-section h2 {
  font-size: 50px;
}

.why-section p {
  width: 50%;
  margin: 15px;
  text-align: left;
}

.cta-button {
  margin: 20px;
  padding: 15px;
  font-size: 20px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .why-section {
    padding: 70px;
  }

  .why-section h2 {
    font-size: 30px;
  }

  .why-section p {
    width: 100%;
    text-align: start;
  }

  .hero-button {
    font-size: 15px;
    padding: 15px;
    margin: 15px;
    border-radius: 15px;
  }

  .cta-button {
    margin: 15px;
    font-size: 15px;
  }
}

/* Footer */

.footer {
  background-color: #e6f4f1;
  color: #002f57;
  height: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Login Page */

.login-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login h1 {
  margin: 20px;
  font-size: 30px;
}

.login-form {
  border: solid 2px #e6f4f1;
  background-color: #e6f4f1;
  padding: 40px;
}

.login-label {
  color: #002f57;
}

.login-form button {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border: none;
  background-color: #d6a319;
  border-radius: 15px;
  color: #00455f;
}

.login input,
.add-event-form input,
.add-team-member-form input,
.unregistered-user-form input,
.edit-event-form input {
  padding: 5px;
  border-radius: 5px;
}

/* Register */

.register-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #002f57;
}

.register-form {
  display: flex;
  flex-direction: column;
  background-color: #e6f4f1;
  padding: 10px;
  width: 25%;
  text-align: left;
}

.register-form button {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border: none;
  background-color: #d6a319;
  border-radius: 15px;
  color: white;
}

.register-section h2 {
  font-size: 30px;
  margin: 20px;
}

.register-section input {
  padding: 5px;
  border-radius: 5px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .register-form {
    display: flex;
    flex-direction: column;
    width: 85%;
  }

  .register-section h2 {
    font-size: 25px;
  }
}

/* Main Dashboard */

/* ProfilePic */

.dashboard {
  margin: 0 auto;
}

.profile-pic {
  margin-top: 60px;
}

img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: grey solid 2px;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  img {
    height: 200px;
    width: 200px;
  }
}

.profile-details,
.tm-details {
  margin-top: 25;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-details h3,
.profile-details p,
.tm-info h3,
.tm-info p {
  color: black;
  text-align: left;
}

.tm-info {
  margin-bottom: 15px;
}

/* Edit Profile Form */

.edit-profile-view {
  color: #002f57;
  margin: 0 auto;
}

.edit-profile-view h2 {
  margin: 20px;
  font-size: 30px;
}

.edit-profile-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e6f4f1;
  padding: 10px;
  text-align: left;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .edit-profile-view {
    margin-left: 0;
  }
}

.edit-profile-form label {
  margin: 5px;
}

.edit-profile-form input {
  padding: 5px;
  border-radius: 5px;
}

.edit-profile-form button,
.edit-profile-button,
.add-event-button,
.add-team-member-button,
.add-event-form button,
.add-team-member-form button,
.add-team-member-view a button,
.unregistered-user-form button,
.invite-page form button,
.edit-event-form button {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border: none;
  background-color: #d6a319;
  border-radius: 15px;
  color: #00455f;
  /* color: white; */
  cursor: pointer;
}

.cancel-button {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  border: none;
  background-color: #d6a319;
  border-radius: 15px;
  color: #00455f;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .edit-profile-form {
    width: 90%;
  }

  .edit-profile-view h2 {
    margin: 10px;
    font-size: 25px;
  }
}

/* Events Main */

.main-view {
  display: flex;
  width: 70%;
  /* margin-left: 19%; */
}

.tm-events {
  display: none;
}

/* EventList */

.sidebar {
  flex: 1;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  width: 100%;
}

.sidebar h3 {
  border: solid #007ab6 2px;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
  max-width: 90%;
}

.events-desktop a h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.events-desktop a {
  text-decoration: none;
}

/* Event */

.edda-details {
  text-align: left;
  margin-left: 5%;
}

.event-view {
  flex: 3;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.event-view-selected {
  width: 95%;
  margin-top: 20px;

  height: 100%;
}

.event-container {
  background-color: #007ab62b;

  display: flex;
  flex-direction: column;
  /* width: 65%; */
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .event-container {
    width: 100%;

    margin-bottom: 60px;
  }
  .event-view {
    width: 95%;
  }
}

.e-title,
.edda-details p {
  color: #002f57;
}

.e-title h2 {
  margin: 15px;
}

.e-details {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.event-team-list ul {
  list-style-type: none;
  padding: 0;
}

.event-desc {
  background-color: white;
  border-radius: 5px;
  width: 95%;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
}

.my-events {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.uninvited-team ul,
.current-team ul {
  margin: 0 auto;
  padding: 10px;
}

.uninvited-team ul li {
  padding-top: 5px;
}

.uninvited-team {
  width: 45%;
}

.uninvited-team li,
.current-team li {
  text-align: left;
}

span.invite-member {
  margin-right: 2%;
}

.invite-button {
  border: none;
  background-color: #04c383;
  color: #00455f;
  border-radius: 5px;
  font-size: 15px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.edit-event-button,
.delete-event-button {
  font-size: 15px;
  padding: 5px;
  margin-bottom: 5px;
  border: none;
  background-color: #d6a319;
  border-radius: 5px;
  color: #00455f;
  cursor: pointer;
  width: 50%;
}

/* Eventslist Mobile View */

@media screen and (min-width: 320px) and (max-width: 768px) {
  .main-view {
    display: flex;
    flex-direction: column-reverse;
    margin-left: 0;
    align-items: center;
    width: 90%;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    .edit-event-button,
    .delete-event-button {
      width: 95%;
    }
  }
}

/* Add Event View */

.add-event-view {
  flex: 3;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  /* display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%; */
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .add-event-view {
    width: 100%;
  }

  .add-event-container {
    width: 90%;
    margin: 0 auto;
  }

  .add-event-container h2 {
    padding: 15px;
  }
}

.add-event-section {
  width: 80%;
}

.add-event-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.add-event-form label {
  color: #002f57;
}

.add-event-form-section {
  background-color: #007ab62b;
  padding: 25px;
}

/* Edit Event View */

.edit-event-view {
  margin: 0 auto;
  width: 50%;
}

.edit-event-form {
  display: flex;
  flex-direction: column;
  background-color: #007ab62b;
  padding: 10px;
  text-align: left;
}

.edit-event-form label {
  color: #002f57;
}

/* Main Team */
.main-team {
  display: flex;
  /* margin-left: 19%; */
}

@media screen and (max-width: 768px) {
  .main-team {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin: 0;
  }

  .edit-event-view {
    width: 90%;
  }

  .edit-event-view h2 {
    padding: 25px;
  }
}

/* Add Team*/
.add-team {
  margin: 0 auto;
}

.add-team-form {
  display: flex;
  flex-direction: column;
}

/* Team Sidebar */

.team-sidebar {
  flex: 1;
}

.team-sidebar h3 {
  border: solid #007ab6 2px;
  padding: 20px;
  margin: 15px;
  border-radius: 5px;
}

.team-desktop a h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.team-desktop a {
  text-decoration: none;
}

.team-sidebar ul {
  list-style-type: none;
  padding: 0;
}

/* Team Member */

.team-view {
  flex: 3;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .team-view {
    width: 100%;
  }
  .team-sidebar {
    width: 80%;
  }
}

/* Add Team Member */

.add-team-member-view {
  margin: 0 auto;
}

.add-team-member-view p {
  color: #002f57;
}

.add-team-member-form {
  display: flex;
  flex-direction: column;
  background-color: #007ab62b;
  padding: 25px;
  text-align: left;
}

.add-team-member-form label {
  color: #002f57;
}

/* Invite Landing Page*/

.invite-page {
  margin: 0 auto;
}

.invite-page h2,
.invite-page label,
.invite-page p,
.invite-page h3 {
  color: #002f57;
}

.unregistered-user-form {
  text-align: left;
}

.invite-login-register {
  background-color: #007ab62b;
  padding: 30px;
}

.unregistered-user-form {
  display: flex;
  flex-direction: column;
}

.team-member-selected {
  width: 95%;
  margin-top: 20px;
  /* background-color: #007ab62b; */
  height: 55%;
}

.member-photo {
  width: 300px;
  height: 300px;
  margin: 20px;
  object-fit: cover;
  border: grey solid 2px;
}

@media screen and (max-width: 768px) {
  .member-photo {
    width: 150px;
    height: 150px;
  }
  .team-member-selected {
    height: 90%;
    width: 100%;
  }
}

/* Calendar */

.cal-mobile {
  display: none;
}

.cal-date-time ul {
  list-style-type: none;
  padding: 0;
}

.cal-date-time li {
  padding: 5px;
  border: solid 2px #002f57;
  background-color: #e6f4f1;
  margin: 5px;
}

.cal-date-time h3 {
  font-size: 25px;
}

.all-events {
  display: flex;
  flex-direction: row;
}

.calendar-view h2 {
  margin: 20px;
  font-size: 30px;
}

.calendar-mobile-view ul {
  list-style-type: none;
  padding: 0;
}

.calendar-mobile-view li {
  border: solid 2px #e6f4f1;
  margin: 5px;
}

.cal-mobile-details {
  text-align: left;
  margin: 15px;
}

.calendar-mobile-view h3 {
  margin: 10px;
}

.cal-desktop {
  margin: 0 auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .cal-desktop {
    display: none;
  }
  .cal-mobile {
    display: block;
    width: 100%;
  }
}
